.payout-report-page {
    margin: 20px;
  }
  
  .chart-container {
    margin-bottom: 20px;
  }
  
  .ant-table-summary {
    background-color: #e8f4ff;
    font-weight: bold;
  }
  
  .ant-table-summary .ant-table-cell {
    text-align: center;
  }
  
  i.fas {
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  